body{
	background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg");
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f8f6f6;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#600377;
	border-bottom:#e16bff 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;
}

.main-header{
			text-align:center;
			background-color: rgb(98, 19, 105);
			height:100px;
			width:100%;
			margin:0px;
		}

header h1 {
	text-align:center;
	color:rgb(219, 165, 233);
}
.container h2 {
	text-align:center;
	color:rgb(219, 165, 233);
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ml-container h2 {
	text-align:center;
	color:rgb(90, 30, 2);
}

.btn-info {background-color: #600377;
	color: rgb(237, 206, 245);
	height:50px; 
    width:200px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:47%;} 
	
.btn-info:hover {background: #d669ac;}

.about h2{
	background-color:rgb(3, 21, 100);
	height:40px; 
    width:330px; 
	color: rgb(126, 128, 247); 
}
.about h3{
	color: rgb(40, 58, 141);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.results h1{
    text-align:center;
	font-size: 40px; 
	height:52px; 
    width:450px;
	left: 40%
}
.results h2{
	color: rgb(28, 92, 15);
}

.results ul li{
	color: rgb(105, 49, 4);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.footerContainer h2{
	background-color: none;
}
.footerContainer p{

	text-align:center;
	color: #600377 ;
}

#wrapper {
	position: absolute;
	left: 80%;
	top: 65%;
	perspective: 1500px;
  }
  
  .box-area {
	position: relative;
	transform-style: preserve-3d;
	animation-name: rotate;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate3d(0, 0, 0, 0);
	}
	100% {
	  transform: rotate3d(0, 1, 0, 360deg);
	  ;
	}
  }
  
  .box {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 2px solid #262626;
  }
  
  #box-front {
	transform: translateX(-200px) translateY(-200px) translateZ(200px);
	background: rgba(255, 16, 107, 0.5);
  }
  
  #box-back {
	transform: translateX(-200px) translateY(-200px) translateZ(-200px);
	background: rgba(1, 251, 236, 0.5);
  }
  
  #box-right {
	transform: translateY(-200px) rotateY(90deg);
	background: rgba(4, 255, 116, 0.5);
  }
  
  #box-left {
	transform: translateY(-200px) translateX(-400px) rotateY(90deg);
	background: rgba(216, 255, 0, 0.5);
  }
  
  #box-top {
	transform: translateX(-200px) translateY(-400px) rotateX(90deg);
	background: rgba(0, 6, 246, 0.5);
  }
  
  #box-bottom {
	transform: translateX(-200px) rotateX(90deg);
	background: rgba(255, 30, 0, 0.5);
  }
  
  .box-area {
	transform: rotateX(90deg) rotateY(90deg);
  }

  .spamwords h1{
	text-align:center;
	color: rgb(28, 92, 15);
  }

  .spamwords h2{
	text-align:center;
	color: rgb(28, 92, 15);
  }

  .spamwords p{
	color:rgb(3, 27, 133);
	font-size: 20px;
  }

  .spamwords ul li{
	color: rgb(105, 49, 4);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
	font-weight: bold;
  }

  .triggerwords a{
	font-size: 40px;
  }