<!DOCTYPE html>
<html>
	
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<div class="container">
		
		<h1>Spam Detector For E-mail's and SMS</h1>
		
	</div>
	</header>
    
	<div class="ml-container">
		
		<form action="{{ url_for('predict')}}" method="POST">
			
		<h2>Enter Your Message/Mail Here which you want to predict for Spam or Not</h2>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="90"></textarea>
		<br/>

		<input type="Submit" class="btn-info" value="Check Spam or Not">
	
	</form>
	
	</div>
	<div class="about">
		<h2> Don't land in SPAM anymore!</h2>
		<h3>99.99% of email accounts use spam filters these days. Spam filters recognize spam messages by analyzing message content for spam characteristics.</h3> 
		<h3>Newsletter senders and email marketers need to check that their emails do not have spam characteristics in order to lower the risk of their</h3>
        <h3>newsletters being marked as spam. The growth of spam email has resulted in increasingly sophisticated spam filters. Over 30% of your mailings </h3>
		<h3>could possibly be classed as spam and be unread by your customer. Attention must be paid to the coding, content and the structure of your </h3>
		<h3>newsletter to ensure it does not end up as spam. This application is built to check if your Email or SMS is spam filter friendly or not.<h3>
</body>
	<footer class="footer">
		
    <div class="footerContainer">
		<p><em>Copyright &copy; 2022 All Rights Reserved</em></p>
    </div>
</html>
