<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header>
		<div class="container">
		
		<h2>Spam Detector For E-mail's and SMS</h2>
		
	</div>
	</header>

    <div class="spamwords">
        <h1> Spam Words to Avoid: How to Stay Out of Spam Email Filters</h1>
        <p> Spam trigger words are keywords or phrases that email providers see as red flags. You’ll often find these words in emails that people mark as spam. As the saying goes, “if it sounds too good to be true, it probably is.” Spam filters catch suspicious words and phrases associated with:</P
          <ul>  
            <li>Scams</li>
            <li>Gimmicks</li>
            <li>Schemes</li>
            <li>Promises</li>
            <li>Free gifts</li>
          </ul>
        <h2>With all of the above in mind, here’s the list of spam words.</h2>
<ul>
    <li>#1</li>
    <li>100% more</li>
    <li>100% free</li>
    <li>100% satisfied</li>
    <li>Additional income</li>
    <li>Be your own boss</li>
    <li>Best price</li>
    <li>Big bucks</li>
    <li>Billion</li>
    <li>Cash bonus</li>
    <li>Cents on the dollar</li>
    <li>Consolidate debt</li>
    <li>Double your cash</li>
    <li>Double your income</li>
    <li>Earn extra cash</li>
    <li>Earn money</li>
    <li>Eliminate bad credit</li>
    <li>Extra cash</li>
    <li>Extra income</li>
    <li>Expect to earn</li>
    <li>Fast cash</li>
    <li>Financial freedom</li>
    <li>Free access</li>
    <li>Free consultation</li>
    <li>Free gift</li>
    <li>Free hosting</li>
    <li>Free info</li>
<li>Free investment</li>
<li>Free membership</li>
<li>Free money</li>
<li>Free preview</li>
<li>Free quote</li>
<li>Free trial</li>
<li>Full refund</li>
<li>Get out of debt</li>
<li>Get paid</li>
<li>Giveaway</li>
<li>Guaranteed</li>
<li>Increase sales</li>
<li>Increase traffic</li>
<li>Incredible deal</li>
<li>Lower rates</li>
<li>Lowest price</li>
<li>Make money</li>
<li>Million dollars</li>
<li>Miracle</li>
<li>Money back</li>
<li>Once in a lifetime</li>
<li>One time</li>
<li>Pennies a day</li>
<li>Potential earnings</li>
<li>Prize</li>
<li>Promise</li>
<li>Pure profit</li>
<li>Risk-free</li>
<li>Satisfaction guaranteed</li>
<li>Save big money</li>
<li>Save up to</li>
<li>Special promotion</li>
</ul>

<h1>Avoid spam words that create unnecessary urgency and pressure</h1>
    <ul>
<li>Act now</li>
<li>Apply now</li>
<li>Become a member</li>
<li>Call now</li>
<li>Click below</li>
<li>Click here</li>
<li>Get it now</li>
<li>Do it today</li>
<li>Don’t delete</li>
<li>Exclusive deal</li>
<li>Get started now</li>
<li>Important information regarding</li>
<li>Information you requested</li>
<li>Instant</li>
<li>Limited time</li>
<li>New customers only</li>
<li>Order now</li>
<li>Please read</li>
<li>See for yourself</li>
<li>Sign up free</li>
<li>Take action</li>
<li>This won’t last</li>
<li>Urgent</li>
<li>What are you waiting for?</li>
<li>While supplies last</li>
<li>Will not believe your eyes</li>
<li>Winner</li>
<li>Winning</li>
<li>You are a winner</li>
<li>You have been selected</li>
    </ul>

<h1>Avoid spam words that look like shady, spammy, or unethical behavior</h1>
<ul>

    <li>Bulk email</li>
<li>Buy direct</li>
<li>Cancel at any time</li>
<li>Check or money order</li>
<li>Congratulations</li>
<li>Confidentiality</li>
<li>Cures</li>
<li>Dear friend</li>
<li>Direct email</li>
<li>Direct marketing</li>
<li>Hidden charges</li>
<li>Human growth hormone</li>
<li>Internet marketing</li>
<li>Lose weight</li>
<li>Mass email</li>
<li>Meet singles</li>
<li>Multi-level marketing</li>
<li>No catch</li>
<li>No cost</li>
<li>No credit check</li>
<li>No fees</li>
<li>No gimmick</li>
<li>No hidden costs</li>
<li>No hidden fees</li>
<li>No interest</li>
<li>No investment</li>
<li>No obligation</li>
<li>No purchase necessary</li>
<li>No questions asked</li>
<li>No strings attached</li>
<li>Not junk</li>
<li>Notspam</li>
<li>Obligation</li>
<li>Passwords</li>
<li>Requires initial investment</li>
<li>Social security number</li>
<li>This isn’t a scam</li>
<li>This isn’t junk</li>
<li>This isn’t spam</li>
<li>Undisclosed</li>
<li>Unsecured credit</li>
<li>Unsecured debt</li>
<li>Unsolicited</li>
<li>Valium</li>
<li>Viagra</li>
<li>Vicodin</li>
<li>We hate spam</li>
<li>Weight loss</li>
<li>Xanax</li>
</ul>

<h1>Avoid spam words that are jargon or legalese (and everything else)</h1>
    <ul>
        <li>Accept credit cards</li>
        <li>Ad</li>
<li>All new</li>
<li>As seen on</li>
<li>Bargain</li>
<li>Beneficiary</li>
<li>Billing</li>
<li>Bonus</li>
<li>Cards accepted</li>
<li>Cash</li>
<li>Certified</li>
<li>Cheap</li>
<li>Claims</li>
<li>Clearance</li>
<li>Compare rates</li>
<li>Credit card offers</li>
<li>Deal</li>
<li>Debt</li>
<li>Discount</li>
<li>Fantastic</li>
<li>In accordance with laws</li>
<li>Income</li>
<li>Investment</li>
<li>Join millions</li>
<li>Lifetime</li>
<li>Loans</li>
<li>Luxury</li>
<li>Marketing solution</li>
<li>Message contains</li>
<li>Mortgage rates</li>
<li>Name brand</li>
<li>Offer</li>
<li>Online marketing</li>
<li>Opt in</li>
<li>Pre-approved</li>
<li>Quote</li>
<li>Rates</li>
<li>Refinance</li>
<li>Removal</li>
<li>Reserves the right</li>
<li>Score</li>
<li>Search engine</li>
<li>Sent in compliance</li>
<li>Subject to…</li>
<li>Terms and conditions</li>
<li>Trial</li>
<li>Unlimited</li>
<li>Warranty</li>
<li>Web traffic</li>
<li>Work from home</li>
    </ul>
</div>
</body>

<footer class="footer">
		
    <div class="footerContainer">
		<p><em>Copyright &copy; 2022 All Rights Reserved</em></p>
    </div>
</html>
